{
  "discord": {
    "token": "<your discord oauth-token>"
  },
  "servers": {
    "conan": {
      "type": "conanexiles",
      "host": "<server-host>",
      "port": 27015,
      "embedcolor": "#007755",
      "game": "Conan Exiles"
    },
    "7days": {
      "type": "7d2d",
      "host": "<server-host>",
      "embedcolor": "#0000FF",
      "port": 26900,
      "game": "7 Days to Die"
    },
    "minecraft": {
      "type": "minecraft",
      "host": "<server-host>",
      "embedcolor": "#00AA00",
      "port": 25565,
      "game": "Minecraft"
    }
  }
}